body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 2px solid grey;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.pixel{
    flex-grow: 1;
}